[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = git@github.com:mecarill/rtabmap_ros.git
[submodule "luxonis/depthai-ros-examples"]
	path = luxonis/depthai-ros-examples
	url = git@github.com:mecarill/depthai-ros-examples.git
[submodule "luxonis/depthai-ros"]
	path = luxonis/depthai-ros
	url = git@github.com:mecarill/depthai-ros.git
[submodule "image_pipeline"]
	path = image_pipeline
	url = git@github.com:mecarill/image_pipeline.git
[submodule "navigation2"]
	path = navigation2
	url = git@github.com:wc975/navigation2.git
